:root {
   --main-color: #679bf1;
   --secondary-color: #ffc40a;
   --accent-color: #2f2e2c;
   --light-color: whitesmoke;
}

#html {
   background-color: #679bf1;
   scroll-behavior: smooth;
}

@media only screen and (max-width: 999px) {
   #mobil {
      display: flex;
      justify-content: space-evenly;
   }
   #pagini {
      display: none;
   }
}
@media only screen and (min-width: 1000px) {
   #mobil,
   #meniu {
      display: none !important;
   }
}
#butonMeniu {
   cursor: pointer;
}
#mobil {
   flex-direction: row;
   align-items: center;
}
#meniu {
   padding-top: 3vh;
   flex-direction: column;
   gap: 2.3vh;
   text-align: center;
   display: none;
   background-color: transparent;
   color: black;
   border-top: solid 1px var(--secondary-color);
   margin-bottom: 2%;
   border-radius: 5vh;
   width: 100%;
}

#meniu a {
   color: var(--accent-color);
   text-align: center;
   font-size: xx-large;
}

.ascuns {
   display: none;
}

html {
   overflow-y: scroll;
   overflow-x: hidden;
   background-color: var(--main-color);
}
body {
   color: var(--accent-color);
   line-height: 1.5;
   margin: 0%;
   height: 100vh;
   width: 100vw !important;
   display: grid;
   grid-template-rows: auto 10fr auto;
   font-family: "DM sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   position: absolute;
   overflow-x: hidden;
}
footer {
   display: grid;
   background-color: var(--accent-color);
   border-top: solid 1px black;
   z-index: 3;
   padding-top: 1vh;
}
header {
   background-color: var(--secondary-color);
   border-top: solid 1px black;
   position: sticky;
   z-index: 2;
}
svg {
   fill: rgb(230, 230, 230);
}
aside {
   margin-top: 4vh;
   display: inline;
   width: auto;
   grid-row: 2/-1;
   float: right;
   margin-right: 4vw;
}

#copyright {
   margin-bottom: 2vh;
   width: 100%;
   color: rgb(185, 184, 184);
   font-size: 80%;
   display: grid;
   align-items: center;
}

#linkuri {
   display: inline-block;
   grid-row: 1/2;
   margin: 1vh;
   margin-left: 4vw;
   font-size: large;
}

a {
   text-decoration: none;
}

#linkuri li,
#linkuri a {
   color: rgb(230, 230, 230);
   list-style-type: none;
}

main {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   z-index: 1;
}

main div {
   padding-bottom: 2vh;
   padding-left: 1vw;
   padding-right: 2vw;
}

#descriere p {
   margin-left: 3vw;
   margin-right: 4vw;
   text-align: justify;
   width: 50vw;
   min-width: 300px;
   display: block;
   margin: auto;
   padding-bottom: 20px;
}

#descriere p,
.membru p,
.membruR p {
   font-size: 125%;
}

#sponsori {
   width: 100%;
   padding-bottom: 4rem;
}

#sponsori h2 {
   width: 100%;
   text-align: center;
}

header h1 a {
   color: black;
   margin-left: 4vw;
}

header h1 a:hover {
   text-decoration: underline wavy;
}

.intunecat {
   background-color: var(--main-color);
   color: var(--light-color);
   width: 100%;
}

.galbui {
   background-color: var(--secondary-color);
   color: black;
   border-top: solid 1px var(--secondary-color);
   margin: 0;
   width: 100%;
}

h2 {
   font-size: 200%;
}

h3 {
   font-size: 150%;
   margin-bottom: 0;
}

.desc {
   margin: 1vh;
   justify-content: space-evenly;
}

.bare {
   display: flex;
   margin: 1vh;
   flex-wrap: wrap;
   flex-direction: row;
}

.membru img {
   border-radius: 2vh;
   width: 200px;
   object-fit: cover;
}

#membri {
   display: grid;
   align-items: center;
}

.membru {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 2vw;
   align-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
   height: 50%;
}

.titlu {
   text-align: center;
   font-size: 2.5rem;
}

textarea,
input {
   margin-top: 1vw;
   padding: 2vw;
   font-size: 150%;
   border-radius: 2vh;
   border: none;
}
#numeMail,
#Subiect {
   background-color: #292929;
   color: whitesmoke;
}
form {
   padding: 2.5vh;
   margin: 1vh 2vh 2vh 2vh;
   text-align: left;
   font-family: "DM sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#contactDiv {
   display: grid;
   place-items: center;
}

#contactDiv form {
   width: 50vw;
   max-width: 300px;
}

.banner {
   z-index: 1;
   width: 100%;
   top: 0%;
   position: relative;
   height: 90vh;
   display: flex;
   background-color: #679bf1;
}

.banner-image {
   z-index: 0;
   width: 100%;
   height: auto;
   object-fit: cover;
   display: none;
   position: relative;
}

.banner .filter {
   position: absolute;
   z-index: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(47, 46, 44, 0.3);
   top: 0;
}

.banner-ribbon {
   position: absolute;
   z-index: 1;
   width: 40vw;
   max-width: 650px;
   min-width: 400px;
}

.ribbon-top {
   position: absolute;
   top: 0px;
   left: 0;
}

.ribbon-bottom {
   position: absolute;
   bottom: -2px;
   right: 0;
}

.spacer {
   aspect-ratio: 800/50;
   /*animation: waves 4s infinite;*/
   width: 100%;
   object-fit: cover;
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

#teamDivider {
   background-image: url("../poze/svg/spacer-sponsori-jos.svg");
}

#dividerMentori {
   background-image: url("../poze/svg/wave-mentori.svg");
}

#dividerDescriere {
   background-image: url("../poze/svg/wave-sponsori.svg");
}

@keyframes waves {
   0% {
      aspect-ratio: 800/50;
   }

   50% {
      aspect-ratio: 800/60;
   }

   100% {
      aspect-ratio: 800/50;
   }
}

.tns-nav {
   text-align: center;
   margin: 10px 0;
}

.tns-nav > [aria-controls] {
   width: 9px;
   height: 9px;
   padding: 0;
   margin: 0 5px;
   border-radius: 50%;
   background: hsl(40, 3%, 70%);
   border: 0;
}

.tns-nav > .tns-nav-active {
   background: hsl(40, 3%, 18%);
}

.slide,
.tns-inner,
.tns-ovh {
   padding-bottom: none;
}

.desc {
   margin: auto;
   width: 80vw;
}

.desc-membru {
   text-align: center;
   margin: auto;
   padding: 0;
   margin-bottom: 0.5rem;
}

.contact-membru {
   margin: auto;
}

.callToAction {
   border-radius: 90000px;
}

a.callToAction {
   display: block;
   height: 4vh;
   padding: 1rem;
   width: fit-content;
   margin: auto;
}
